/* src/components/ManageMenu/ManageMenu.css */

.manage-menu-items-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/restaurant-background.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    padding: 70px 0; /* Add padding to avoid overlapping with the navbar */

}

.manage-menu-items-container {
    text-align: center;
    color: white;
}

.manage-menu-items-content {
    width: 85%;
    min-width: 600px;
    margin: 0 auto;
}

.manage-menu-items-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px  rgba(255, 255, 255, 1);
}

.manage-menu-items-content p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px  rgba(255, 255, 255, 1);
}

.new-item-form {
    margin-top: 20px;
}

.new-item-form label {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.836);
}

.new-item-form input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
    max-width: 250px;
}

.new-item-form button {
    width: 100%;
    height: 30px;
    font-size: 18px;
    max-width: 250px;
}

.menu-items-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu-item-col {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 15px;
}

.menu-item-card {
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.83);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow for a more appealing look */
    transition: 0.3s; /* Add transition for hover effect */
}


.menu-item-card:hover {
    box-shadow: 4px 9px 16px 0 rgba(0, 0, 0, 0.3); /* Increase shadow when hover */
}

.menu-item-card .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .menu-item-card .edit-form input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .menu-item-card .edit-form button {
    margin-top: 10px;
    border-radius: 20px;  /* Increase the border radius */
    padding: 10px 20px;  /* Add some padding */
    width: 100%;  /* Make sure they have the same width */
    transition: background-color 0.3s;  /* Add transition for hover effect */
  }
  
  .menu-item-card .edit-form button:hover {
    background-color: #91abb6;
  }

.menu-item-card .menu-item-name {
    font-size: 24px;  /* Increase the font size */
    font-weight: bold;  /* Make it bold */
}

.menu-item-card .card-text {
    font-size: 14px;  /* Decrease the font size */
}

.menu-item-card button {
    margin-top: 10px;
    border-radius: 20px;  /* Increase the border radius */
    padding: 10px 20px;  /* Add some padding */
    width: 100%;  /* Make sure they have the same width */
    transition: background-color 0.3s;  /* Add transition for hover effect */
}

.menu-item-card button:hover {
    background-color: #91abb6;  /* Change the color when hover */
}

.menu-item-name {
    color: black;
}
